<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turnuva Paneli</title>
    <!-- Admin CSS dosyasını dahil et -->
    <link href="~/css/league.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Turnuva Paneli</h1>
    </header>

    <div class="content">
        @RenderBody() <!-- İçerik burada görüntülenecek -->
    </div>
    <script src="~/js/league.js"></script>
</body>
</html>
