<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş Yap</title>
    <!-- Admin CSS dosyasını dahil et -->
    <link href="~/css/login.css" rel="stylesheet" />
</head>
<body>    
    <div class="content">
        @RenderBody() <!-- İçerik burada görüntülenecek -->
    </div>
    <script src="~/js/login.js"></script>
</body>
</html>
